<div class="card shadow-sm">
  <p-table #ptCondominos [responsive]="true" [value]="Condominos" [columns]="CondominosCols"
    [globalFilterFields]="CondominosFilter" [rowHover]="true" [showCurrentPageReport]="true"
    [paginator]="Condominos.length > 0" [rows]="50" dataKey="id_usuario" styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center p-1">
        <div class="me-auto">
          <!-- Botón Nuevo -->
          <button *ngIf="permitirAgregarEditar" pButton type="button" icon="pi pi-plus"
            class="p-button-rounded p-button-raised p-button-success ms-1" pTooltip="Agregar condómino"
            tooltipPosition="right" (click)="onCondominoEditar()"></button>
        </div>
        <!-- Opciones Filtrado -->
        <div class="ms-auto">
          <!-- Botón Actualizar -->
          <button *ngIf="isDevelopment" pButton type="button" icon="pi pi-refresh"
            class="p-button-rounded p-button-text p-button-secondary me-2" pTooltip="Actualizar información"
            tooltipPosition="right" (click)="onCondominosListar()"></button>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" id="txtGlobalFilter" class="form-control ms-1 ps-4"
              (input)="ptCondominos.filterGlobal($event.target.value, 'contains')" placeholder="Filtrar" />
          </span>
        </div>
        <div>
          <button pButton pRipple type="button" id="btnLimpiarFiltro" icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-danger ms-3" pTooltip="Limpiar filtro" tooltipPosition="left"
            (click)="hlpPrimeNGTable.reset(ptCondominos)"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="text-center" [ngStyle]="{
						width: col.width ? col.width : 'inherit'
					}">
          {{ col.header ? col.header : '&nbsp;' }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Condomino>
      <tr>
        <td class="me-1 mt-1">
          <div (click)="onCondominoDetalles(Condomino.id_usuario)" style="cursor: pointer">
            <img class="rounded-circle" src="{{
								Condomino.imagen
									? appData.urlBackendUsuariosFiles + Condomino.id_usuario + '/' + Condomino.imagen
									: './assets/img/imagen_no_disponible.png'
							}}" style="width: 70px; height: 70px" />
          </div>
        </td>
        <td><span class="p-column-title">Nombre</span>{{ Condomino.nombre }}</td>
        <td><span class="p-column-title">Usuario</span>{{ Condomino.usuario }}</td>
        <td><span class="p-column-title">Email</span>{{ Condomino.email }}</td>
        <td class="text-md-end"><span class="p-column-title">Contacto</span>{{ Condomino.telefono | phoneFormat }}</td>
        <td class="text-md-center">
          <span class="p-column-title">Unidad</span>
          <p-tag severity="info" [value]="Condomino.unidad_edificio"></p-tag>
        </td>
        <td class="text-md-end">
          <span class="p-column-title">Depósito</span>{{ Condomino.deposito | number : '1.2-2' }}
        </td>
        <td class="text-md-end"><span class="p-column-title">Renta</span>{{ Condomino.renta | number : '1.2-2' }}</td>
        <td class="text-center"><span *ngIf="Condomino.condominio_nombre" class="hoose-cond-color" [ngStyle]="{'color': getCondominioColor(Condomino.condominio_nombre), 'background': getCondominioColor(Condomino.condominio_nombre) + '20'}" style="font-weight:600;font-size:0.78rem">{{ Condomino.condominio_nombre }}</span><span *ngIf="!Condomino.condominio_nombre" style="color:#8a8f9e;font-size:0.75rem;font-style:italic">Sin asignar</span></td>
        <td class="text-md-center">
          <span class="p-column-title">Estatus</span>
          <span [ngStyle]="{ cursor: permitirAgregarEditar ? 'pointer' : 'default' }">
            <p-tag severity="{{
								Condomino.estatus == 1 ? 'success' : Condomino.contrato_activo == 1 ? 'warning' : 'danger'
							}}" value=" {{
								Condomino.estatus == 1 ? 'Activo' : Condomino.contrato_activo == 1 ? 'Inactivo' : 'Sin contrato'
							}} " pTooltip="{{ Condomino.estatus == 1 ? 'Desh' : 'H' }}abilitar condómino{{
								Condomino.contrato_activo != 1 ? ' en nuevo contrato' : ''
							}}" tooltipPosition="left" tooltipDisabled="{{ !permitirAgregarEditar }}"
              (click)="permitirAgregarEditar && onCondominoAlternarEstatus(Condomino)"></p-tag>
          </span>
        </td>
        <td class="text-end">
          <!-- Botón Editar -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.estatus == 1" icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-success me-1" pTooltip="Editar condómino"
            tooltipPosition="left" (click)="onCondominoEditar(Condomino)"></button>
          <!-- Botón Detalles -->
          <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-warning me-1"
            pTooltip="Detalles del condómino" tooltipPosition="left"
            (click)="onCondominoDetalles(Condomino.id_usuario)"></button>
          <!-- Botón Deshabilitar -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.contrato_activo == 1"
            icon="pi pi-trash" class="p-button-rounded p-button-text p-button-help me-1" pTooltip="Finalizar contrato"
            tooltipPosition="left" (click)="onCondominoDeshabilitar(Condomino.id_usuario)"></button>
          <!-- Botón Reiniciar contraseña -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.contrato_activo == 1"
            icon="pi pi-lock" class="p-button-rounded p-button-text p-button-danger me-1"
            pTooltip="Reiniciar contraseña" tooltipPosition="left"
            (click)="onReiniciarContrasenia(Condomino.id_usuario)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="no-records">
        <td colspan="3">Sin registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Diálogo de inserción y edición -->
<p-dialog #dlgCondomino [(visible)]="mostrarDialogoEdicionCondomino"
  [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '50vw' }" [modal]="true" [closable]="false"
  header="Detalles del Condomino {{ Condomino && Condomino.id_usuario == 0 ? ' Nuevo' : '' }}" styleClass="hoose-dialogo">
  <ng-template pTemplate="content">
    <form *ngIf="frmCondomino" id="frmCondomino" class="mt-1" [formGroup]="frmCondomino" autocomplete="off">
			<!-- Condominio -->
			<div class="hoose-section" *ngIf="esSuperAdminSinCondominio">
				<div class="hoose-section-title">Condominio</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Condominio <span class="text-danger">*</span></label>
						<select class="form-control" formControlName="fk_id_condominio" (onChange)="onCondominioChangeCond($event)">
							<option [value]="null" disabled>Selecciona el condominio</option>
							<option *ngFor="let c of condominiosLista" [value]="c.value">{{ c.label }}</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Datos Generales -->
			<div class="hoose-section">
				<div class="hoose-section-title">Datos Generales</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Nombre(s) <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="nombre" class="uppercase w-100" autofocus (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
					<div class="col-12 col-md-6">
						<label>Apellidos <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="apellidos" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Email <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="email" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Teléfono <span class="text-danger">*</span></label>
						<p-inputMask formControlName="telefono" mask="(9999) 99-9999" unmask="true" placeholder="(9999) 99-9999" (focus)="hlpApp.selectAllContent($event)"></p-inputMask>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12">
						<label>Imagen de Perfil</label>
						<div *ngIf="srcImagen" class="text-center mb-2">
							<img class="imagenThumbnail img-thumbnail" style="cursor:pointer;max-height:100px" [src]="srcImagen" (click)="onImagenMostrar(srcImagen)" />
						</div>
						<div class="d-flex gap-2">
							<label for="txtImagenArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtImagenArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 1)" />
							<button *ngIf="frmCondomino.get('archivo_imagen').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(1)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('imagen').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(1)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Identificación -->
			<div class="hoose-section">
				<div class="hoose-section-title">Identificación</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Folio Identificación</label>
						<input pInputText type="text" formControlName="identificacion_folio" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Domicilio</label>
						<textarea pInputTextarea formControlName="identificacion_domicilio" rows="2" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)"></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Anverso Identificación</label>
						<img *ngIf="srcIdentificacionAnverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionAnverso" (click)="onImagenMostrar(srcIdentificacionAnverso)" />
						<div class="d-flex gap-2">
							<label for="txtAnversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtAnversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 2)" />
							<button *ngIf="frmCondomino.get('archivo_identificacion_anverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(2)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('identificacion_anverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(2)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label>Reverso Identificación</label>
						<img *ngIf="srcIdentificacionReverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionReverso" (click)="onImagenMostrar(srcIdentificacionReverso)" />
						<div class="d-flex gap-2">
							<label for="txtReversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtReversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 3)" />
							<button *ngIf="frmCondomino.get('archivo_identificacion_reverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(3)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('identificacion_reverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(3)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Cuenta de Usuario -->
			<div class="hoose-section">
				<div class="hoose-section-title">Cuenta de Usuario</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Usuario <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="usuario" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
				</div>
				<div class="row mt-2" *ngIf="frmCondomino.get('id_usuario').value == 0">
					<div class="col-12">
						<app-password-input [control]="frmCondomino.get('contrasenia')" label="Contraseña inicial" placeholder="Se enviará al correo" [confirmar]="true" [required]="true"></app-password-input>
					</div>
				</div>
			</div>

			<!-- Unidad en Alquiler -->
			<div class="hoose-section">
				<div class="hoose-section-title">Unidad en Alquiler</div>
				<div class="row">
					<div class="col-12">
						<label>Unidad disponible para renta <span class="text-danger">*</span></label>
						<p-dropdown [options]="UnidadesDisponiblesRenta" formControlName="id_unidad" (onChange)="onUnidadRentaChange($event)" optionLabel="unidad" optionValue="id_unidad" placeholder="Selecciona una unidad..." [style]="{width:'100%'}" [filter]="true" filterBy="unidad"></p-dropdown>
					</div>
				</div>
			</div>

			<!-- Detalles del Alquiler -->
			<div class="hoose-section">
				<div class="hoose-section-title">Detalles del Alquiler</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<label>Depósito</label>
						<div class="p-inputgroup"><span class="p-inputgroup-addon">$</span><p-inputNumber formControlName="deposito" mode="decimal" locale="es-MX" [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0" [inputStyle]="{ 'text-align': 'right' }" (onFocus)="hlpApp.selectAllContent($event)"></p-inputNumber></div>
					</div>
					<div class="col-12 col-md-4">
						<label>Renta <span class="text-danger">*</span></label>
						<div class="p-inputgroup"><span class="p-inputgroup-addon">$</span><p-inputNumber formControlName="renta" mode="decimal" locale="es-MX" [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0" [inputStyle]="{ 'text-align': 'right' }" (onFocus)="hlpApp.selectAllContent($event)"></p-inputNumber></div>
					</div>
					<div class="col-12 col-md-4">
						<label>Día límite de pago <span class="text-danger">*</span></label>
						<p-dropdown [options]="diasPagoOpciones" formControlName="fecha_limite_pago" placeholder="Seleccionar día..." [style]="{width:'100%'}"></p-dropdown>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-3">
						<label>Fecha Inicio <span class="text-danger">*</span></label>
						<p-calendar [showIcon]="true" formControlName="fecha_inicio" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-3">
						<label>Fecha Término <span class="text-danger">*</span></label>
						<p-calendar [showIcon]="true" formControlName="fecha_fin" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-3">
						<label>Penalización tardío <span class="text-danger">*</span></label>
						<p-dropdown [options]="penalizacionOpciones" formControlName="penalizacion_pago_tardio" [style]="{width:'100%'}"></p-dropdown>
					</div>
					<div class="col-12 col-md-3" *ngIf="frmCondomino.get('penalizacion_pago_tardio')?.value == '1' || frmCondomino.get('penalizacion_pago_tardio')?.value == 1">
						<label>% por día <span class="text-danger">*</span></label>
						<div class="p-inputgroup"><input pInputText type="number" formControlName="porcentaje_penalizacion" class="w-100" min="0" max="100" step="0.01" /><span class="p-inputgroup-addon">%</span></div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Servicios no incluidos (por pagar)</label>
						<p-multiSelect [options]="serviciosOpciones" formControlName="otros_servicios" defaultLabel="Seleccionar servicios..." [style]="{width:'100%'}"></p-multiSelect>
					</div>
					<div class="col-12 col-md-6">
						<label>Cuota de Mantenimiento <span class="text-danger">*</span></label>
						<p-dropdown [options]="cuotaMttoOpciones" formControlName="cuota_mantenimiento_aplica" [disabled]="true" [style]="{width:'100%'}"></p-dropdown>
					</div>
				</div>
			</div>

			<!-- Legal / Contrato -->
			<div class="hoose-section">
				<div class="hoose-section-title">Legal / Contrato</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Representación en Asambleas <span class="text-danger">*</span></label>
						<p-dropdown [options]="representacionOpciones" formControlName="representacion_asamblea" [style]="{width:'100%'}"></p-dropdown>
					</div>
					<div class="col-12 col-md-6">
						<label>Archivo del Contrato</label>
						<input type="file" class="form-control form-control-sm" accept=".pdf" (change)="onContratoSeleccionado($event)" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Fecha de Firma del Contrato</label>
						<p-calendar [showIcon]="true" formControlName="contrato_fecha_firma" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-6">
						<label>Fecha de Vencimiento del Contrato</label>
						<p-calendar [showIcon]="true" formControlName="contrato_fecha_vencimiento" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"></p-calendar>
					</div>
				</div>
			</div>
		</form>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- Botón Guardar -->
    <button pButton type="button" label="Guardar" icon="pi pi-save" class="p-button-raised p-button-info me-sm-1"
      pTooltip="Almacenar la información" tooltipPosition="top" [disabled]="!frmCondomino.valid"
      (click)="onCondominoGuardar()"></button>
    <!-- Botón Cancelar -->
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-warning ml-2"
      pTooltip="Cancelar el proceso" tooltipPosition="top" (click)="onCondominoCancelar()"></button>
  </ng-template>
</p-dialog>

<!-- Diálogo de deshabilitar -->
<p-dialog #dlgCondominoDeshabilitar [(visible)]="mostrarDialogoDeshabilitarCondomino" [style]="{ width: '350px' }"
  [modal]="true" [closable]="false" header="Deshabilitar Condómino" styleClass="hoose-dialogo">
  <ng-template pTemplate="content">
    <form id="frmCondominoDeshabilitar" class="mt-1" [formGroup]="frmCondominoDeshabilitar" autocomplete="off">
      <div class="row py-1">
        <!-- Fecha fin -->
        <div class="col-12">
          <label for="txtFechaFin">Fecha finalización del contrato</label>
          <p-calendar inputId="txtFechaFin" formControlName="fecha_fin" dateFormat="dd-MM-yy"
            [appendTo]="dlgCondominoDeshabilitar" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"
            autofocus></p-calendar>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- Botón Confirmar -->
    <button pButton type="button" label="Confirmar" icon="pi pi-save" class="p-button-raised p-button-info me-sm-1"
      pTooltip="Confirma deshabilitar el contrato con el Condomino" tooltipPosition="top"
      [disabled]="!frmCondominoDeshabilitar.valid" (click)="onCondominoDeshabilitarGuardar()"></button>
    <!-- Botón Cancelar -->
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-warning ml-2"
      pTooltip="Cancelar el proceso" tooltipPosition="top" (click)="onCondominoDeshabilitarCancelar()"></button>
  </ng-template>
</p-dialog>

<!-- Diálogo Imagen del Condomino -->
<p-dialog
	styleClass="hoose-dialogo" [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '75vw' }"
  [(visible)]="mostrarDialogoImagenCondomino" [contentStyle]="{ display: 'flex' }" modal="true"
  header="Imagen del Condomino" baseZIndex="99">
  <ng-template pTemplate="content">
    <div class="imagenPreviewContainer imagenPreview">
      <img [src]="srcImagenMostrar" />
    </div>
  </ng-template>
</p-dialog>

<!-- Diálogo Contrato -->
<p-dialog
	styleClass="hoose-dialogo" [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '75vw' }"
  [(visible)]="mostrarDialogoContratoCondomino" [contentStyle]="{ display: 'flex', height: '90vh' }" modal="true"
  header="Contrato de arrendamiento del Condómino">
  <ng-template pTemplate="content">
    <div class="imagenPreviewContainer">
      <iframe id="fraContrato" class="img-thumbnail" [src]="contratoURL()" (load)="onContratoMostrado()"> </iframe>
    </div>
  </ng-template>
</p-dialog>

<!-- Diálogo Detalles del Condomino -->
<p-dialog
	styleClass="hoose-dialogo" [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '60vw' }"
  [(visible)]="mostrarDialogoDetallesCondomino" modal="true" header="Detalles del Condomino">
  <ng-template pTemplate="content">
    <div class="row pt-4">
      <!-- Thumbnail de la Imagen del condómino -->
      <div class="col-12 text-center">
        <div>
          <img class="imagenThumbnail img-thumbnail"
            [src]="srcImagen ? srcImagen : './assets/img/imagen_no_disponible.png'"
            [ngStyle]="{ cursor: srcImagen ? 'pointer' : 'inherit' }"
            (click)="srcImagen && onImagenMostrar(srcImagen)" />
        </div>
        <!-- <div class="my-1">
					<b>Imagen del Condomino</b>
				</div> -->
        <div class="mt-1">
          <b>Estatus: </b>
          <p-tag *ngIf="Condomino.estatus == 1" severity="success" value="Activo"></p-tag>
          <p-tag *ngIf="Condomino.estatus != 1" severity="danger" value="Inactivo"></p-tag>
        </div>
      </div>
      <hr class="mt-3" />
    </div>

    <div class="row">
      <div class="col-6">
        <p class="m-0"><b>Nombre:</b> {{ Condomino.nombre }}</p>
        <p class="m-0"><b>Usuario:</b> {{ Condomino.usuario }}</p>
        <p class="m-0"><b>Email:</b> {{ Condomino.email }}</p>
        <p class="m-0"><b>Teléfono:</b> {{ Condomino.telefono | phoneFormat }}</p>
        <p class="m-0"><b>Domicilio:</b> {{ Condomino.domicilio }}</p>
      </div>
      <div class="col-6">
        <p class="m-0"><b>Folio Identificacion:</b> {{ Condomino.identificacion_folio }}</p>
        <p class="m-0"><b>Domicilio Identificación:</b> {{ Condomino.identificacion_domicilio }}</p>
        <p class="m-0"><b>Edificio:</b> {{ Condomino.edificio }}</p>
        <p class="m-0"><b>Unidad:</b> {{ Condomino.unidad }}</p>
        <p class="m-0"><b>Depósito:</b> {{ Condomino.deposito | number : '1.2-2' }}</p>
        <p class="m-0"><b>Renta:</b> {{ Condomino.renta | number : '1.2-2' }}</p>
        <p class="m-0"><b>Fecha inicio:</b> {{ Condomino.fecha_inicio | date : 'MMMM dd, yyyy' | uppercase }}</p>
        <!-- <p class="m-0"><b>Estatus:</b> {{ (Condomino.contrato_activo == 1 ? 'A' : 'Ina') + 'ctiva' }}</p> -->
        <p class="m-0">
          <b>Estatus contrato: </b>
          <p-tag *ngIf="Condomino.contrato_activo == 1" severity="success" value="Activo"></p-tag>
          <p-tag *ngIf="Condomino.contrato_activo != 1" severity="danger" value="Inactivo"></p-tag>
        </p>
      </div>
    </div>

    <!-- Thumbnails de la Identificación del condómino -->
    <div *ngIf="srcIdentificacionAnverso || srcIdentificacionReverso" class="row mt-2">
      <hr class="mt-3" />
      <div class="col-12 text-center my-1"><b>Identificación</b></div>
      <div *ngIf="srcIdentificacionAnverso" class="col-12 text-end"
        [ngClass]="{ 'col-md-6': srcIdentificacionReverso }">
        <img class="imagenThumbnail img-thumbnail" [src]="srcIdentificacionAnverso"
          [ngStyle]="{ cursor: srcImagen ? 'pointer' : 'inherit' }"
          (click)="onImagenMostrar(srcIdentificacionAnverso)" />
      </div>
      <div *ngIf="srcIdentificacionReverso" class="col-12 text-start"
        [ngClass]="{ 'col-md-6': srcIdentificacionAnverso }">
        <img class="imagenThumbnail img-thumbnail" [src]="srcIdentificacionReverso"
          [ngStyle]="{ cursor: srcImagen ? 'pointer' : 'inherit' }"
          (click)="onImagenMostrar(srcIdentificacionReverso)" />
      </div>
    </div>

    <!-- Contrato -->
    <div *ngIf="permitirAgregarEditar && Condomino.contrato" class="row mt-2">
      <div class="col-12 text-center my-1"><b>Contrato</b></div>
      <div class="col-12 text-center">
        <i class="pi pi-file-pdf img-thumbnail text-danger p-3" style="font-size: 7rem; cursor: pointer"
          pTooltip="Visualizar el contrato de arrendamiento" tooltipPosition="top"
          (click)="onContratoMostrar(Condomino)"></i>
      </div>
    </div>
  </ng-template>
</p-dialog>