<div class="card shadow-sm">
  <p-table #ptCondominos [responsive]="true" [value]="Condominos" [columns]="CondominosCols"
    [globalFilterFields]="CondominosFilter" [rowHover]="true" [showCurrentPageReport]="true"
    [paginator]="Condominos.length > 0" [rows]="50" dataKey="id_usuario" styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros">
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center p-1">
        <div class="me-auto">
          <!-- Botón Nuevo -->
          <button *ngIf="permitirAgregarEditar" pButton type="button" icon="pi pi-plus"
            class="p-button-rounded p-button-raised p-button-success ms-1" pTooltip="Agregar condómino"
            tooltipPosition="right" (click)="onCondominoEditar()"></button>
        </div>
        <!-- Opciones Filtrado -->
        <div class="ms-auto">
          <!-- Botón Actualizar -->
          <button *ngIf="isDevelopment" pButton type="button" icon="pi pi-refresh"
            class="p-button-rounded p-button-text p-button-secondary me-2" pTooltip="Actualizar información"
            tooltipPosition="right" (click)="onCondominosListar()"></button>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" id="txtGlobalFilter" class="form-control ms-1 ps-4"
              (input)="ptCondominos.filterGlobal($event.target.value, 'contains')" placeholder="Filtrar" />
          </span>
        </div>
        <div>
          <button pButton pRipple type="button" id="btnLimpiarFiltro" icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-danger ms-3" pTooltip="Limpiar filtro" tooltipPosition="left"
            (click)="hlpPrimeNGTable.reset(ptCondominos)"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="text-center" [ngStyle]="{
						width: col.width ? col.width : 'inherit'
					}">
          {{ col.header ? col.header : '&nbsp;' }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Condomino>
      <tr>
        <td class="me-1 mt-1">
          <div (click)="onCondominoDetalles(Condomino.id_usuario)" style="cursor: pointer">
            <img class="rounded-circle" src="{{
								Condomino.imagen
									? appData.urlBackendUsuariosFiles + Condomino.id_usuario + '/' + Condomino.imagen
									: './assets/img/imagen_no_disponible.png'
							}}" style="width: 70px; height: 70px" />
          </div>
        </td>
        <td><span class="p-column-title">Nombre</span>{{ Condomino.nombre }} {{ Condomino.apellidos || "" }}</td>
        <td><span class="p-column-title">Usuario</span>{{ Condomino.usuario }}</td>
        <td><span class="p-column-title">Email</span>{{ Condomino.email }}</td>
        <td class="text-md-end"><span class="p-column-title">Contacto</span>{{ Condomino.telefono | phoneFormat }}</td>
        <td class="text-md-center">
          <span class="p-column-title">Unidad</span>
          <p-tag severity="info" [value]="Condomino.unidad_edificio"></p-tag>
        </td>
        <td class="text-md-end">
          <span class="p-column-title">Depósito</span>{{ Condomino.deposito | number : '1.2-2' }}
        </td>
        <td class="text-md-end"><span class="p-column-title">Renta</span>{{ Condomino.renta | number : '1.2-2' }}</td>
        <td class="text-center"><span *ngIf="Condomino.condominio_nombre" class="hoose-cond-color" [ngStyle]="{'color': getCondominioColor(Condomino.condominio_nombre), 'background': getCondominioColor(Condomino.condominio_nombre) + '20'}" style="font-weight:600;font-size:0.78rem">{{ Condomino.condominio_nombre }}</span><span *ngIf="!Condomino.condominio_nombre" style="color:#8a8f9e;font-size:0.75rem;font-style:italic">Sin asignar</span></td>
        <td class="text-md-center">
          <span class="p-column-title">Estatus</span>
          <span [ngStyle]="{ cursor: permitirAgregarEditar ? 'pointer' : 'default' }">
            <p-tag severity="{{
								Condomino.estatus == 1 ? 'success' : Condomino.contrato_activo == 1 ? 'warning' : 'danger'
							}}" value=" {{
								Condomino.estatus == 1 ? 'Activo' : Condomino.contrato_activo == 1 ? 'Inactivo' : 'Sin contrato'
							}} " pTooltip="{{ Condomino.estatus == 1 ? 'Desh' : 'H' }}abilitar condómino{{
								Condomino.contrato_activo != 1 ? ' en nuevo contrato' : ''
							}}" tooltipPosition="left" tooltipDisabled="{{ !permitirAgregarEditar }}"
              (click)="permitirAgregarEditar && onCondominoAlternarEstatus(Condomino)"></p-tag>
          </span>
        </td>
        <td class="text-end">
          <!-- Botón Editar -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.estatus == 1" icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-success me-1" pTooltip="Editar condómino"
            tooltipPosition="left" (click)="onCondominoEditar(Condomino)"></button>
          <!-- Botón Detalles -->
          <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-warning me-1"
            pTooltip="Detalles del condómino" tooltipPosition="left"
            (click)="onCondominoDetalles(Condomino.id_usuario)"></button>
          <!-- Botón Deshabilitar -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.contrato_activo == 1"
            icon="pi pi-trash" class="p-button-rounded p-button-text p-button-help me-1" pTooltip="Finalizar contrato"
            tooltipPosition="left" (click)="onCondominoDeshabilitar(Condomino.id_usuario)"></button>
          <!-- Botón Reiniciar contraseña -->
          <button pButton type="button" *ngIf="permitirAgregarEditar && Condomino.contrato_activo == 1"
            icon="pi pi-lock" class="p-button-rounded p-button-text p-button-danger me-1"
            pTooltip="Reiniciar contraseña" tooltipPosition="left"
            (click)="onReiniciarContrasenia(Condomino.id_usuario)"></button>
<button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" pTooltip="Eliminar" tooltipPosition="left" (click)="onCondominoEliminar(Condomino)"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="no-records">
        <td colspan="3">Sin registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Diálogo de inserción y edición -->
<p-dialog #dlgCondomino [(visible)]="mostrarDialogoEdicionCondomino"
  [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '50vw' }" [modal]="true" [closable]="false"
  header="Detalles del Condomino {{ Condomino && Condomino.id_usuario == 0 ? ' Nuevo' : '' }}" styleClass="hoose-dialogo">
  <ng-template pTemplate="content">
    <form *ngIf="frmCondomino" id="frmCondomino" class="mt-1" [formGroup]="frmCondomino" autocomplete="off">
			<!-- Condominio -->
			<div class="hoose-section" *ngIf="esSuperAdminSinCondominio">
				<div class="hoose-section-title">Condominio</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Condominio <span class="text-danger">*</span></label>
						<select class="form-control" formControlName="fk_id_condominio" (onChange)="onCondominioChangeCond($event)">
							<option [value]="null" disabled>Selecciona el condominio</option>
							<option *ngFor="let c of condominiosLista" [value]="c.value">{{ c.label }}</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Datos Generales -->
			<div class="hoose-section">
				<div class="hoose-section-title">Datos Generales</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Nombre(s) <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="nombre" class="uppercase w-100" autofocus (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
					<div class="col-12 col-md-6">
						<label>Apellidos <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="apellidos" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Email <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="email" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Teléfono <span class="text-danger">*</span></label>
						<p-inputMask formControlName="telefono" mask="(9999) 99-9999" unmask="true" placeholder="(9999) 99-9999" (focus)="hlpApp.selectAllContent($event)"></p-inputMask>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12">
						<label>Imagen de Perfil</label>
						<div *ngIf="srcImagen" class="text-center mb-2">
							<img class="imagenThumbnail img-thumbnail" style="cursor:pointer;max-height:100px" [src]="srcImagen" (click)="onImagenMostrar(srcImagen)" />
						</div>
						<div class="d-flex gap-2">
							<label for="txtImagenArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtImagenArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 1)" />
							<button *ngIf="frmCondomino.get('archivo_imagen').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(1)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('imagen').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(1)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Identificación -->
			<div class="hoose-section">
				<div class="hoose-section-title">Identificación</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Folio Identificación</label>
						<input pInputText type="text" formControlName="identificacion_folio" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Domicilio</label>
						<textarea pInputTextarea formControlName="identificacion_domicilio" rows="2" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)"></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Anverso Identificación</label>
						<img *ngIf="srcIdentificacionAnverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionAnverso" (click)="onImagenMostrar(srcIdentificacionAnverso)" />
						<div class="d-flex gap-2">
							<label for="txtAnversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtAnversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 2)" />
							<button *ngIf="frmCondomino.get('archivo_identificacion_anverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(2)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('identificacion_anverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(2)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label>Reverso Identificación</label>
						<img *ngIf="srcIdentificacionReverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionReverso" (click)="onImagenMostrar(srcIdentificacionReverso)" />
						<div class="d-flex gap-2">
							<label for="txtReversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtReversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 3)" />
							<button *ngIf="frmCondomino.get('archivo_identificacion_reverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(3)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmCondomino.get('identificacion_reverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(3)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Cuenta de Usuario -->
			<div class="hoose-section">
				<div class="hoose-section-title">Cuenta de Usuario</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Usuario <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="usuario" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
				</div>
				<div class="row mt-2" *ngIf="frmCondomino.get('id_usuario').value == 0">
					<div class="col-12">
						<app-password-input [control]="frmCondomino.get('contrasenia')" label="Contraseña inicial" placeholder="Se enviará al correo" [confirmar]="true" [required]="true"></app-password-input>
					</div>
				</div>
			</div>

			<!-- Unidad en Alquiler -->
			<div class="hoose-section">
				<div class="hoose-section-title">Unidad en Alquiler</div>
				<div class="row">
					<div class="col-12">
						<label>Unidad disponible para renta <span class="text-danger">*</span></label>
						<p-dropdown [options]="UnidadesDisponiblesRenta" formControlName="id_unidad" (onChange)="onUnidadRentaChange($event)" optionLabel="unidad" optionValue="id_unidad" placeholder="Selecciona una unidad..." [style]="{width:'100%'}" [filter]="true" filterBy="unidad"></p-dropdown>
					</div>
				</div>
			</div>

			<!-- Detalles del Alquiler -->
			<div class="hoose-section">
				<div class="hoose-section-title">Detalles del Alquiler</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<label>Depósito</label>
						<div class="p-inputgroup"><span class="p-inputgroup-addon">$</span><p-inputNumber formControlName="deposito" mode="decimal" locale="es-MX" [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0" [inputStyle]="{ 'text-align': 'right' }" (onFocus)="hlpApp.selectAllContent($event)"></p-inputNumber></div>
					</div>
					<div class="col-12 col-md-4">
						<label>Renta <span class="text-danger">*</span></label>
						<div class="p-inputgroup"><span class="p-inputgroup-addon">$</span><p-inputNumber formControlName="renta" mode="decimal" locale="es-MX" [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0" [inputStyle]="{ 'text-align': 'right' }" (onFocus)="hlpApp.selectAllContent($event)"></p-inputNumber></div>
					</div>
					<div class="col-12 col-md-4">
						<label>Día límite de pago <span class="text-danger">*</span></label>
						<p-dropdown [options]="diasPagoOpciones" formControlName="fecha_limite_pago" placeholder="Seleccionar día..." [style]="{width:'100%'}"></p-dropdown>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-3">
						<label>Fecha Inicio <span class="text-danger">*</span></label>
						<p-calendar [showIcon]="true" formControlName="fecha_inicio" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-3">
						<label>Fecha Término <span class="text-danger">*</span></label>
						<p-calendar [showIcon]="true" formControlName="fecha_fin" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-3">
						<label>Penalización tardío <span class="text-danger">*</span></label>
						<p-dropdown [options]="penalizacionOpciones" formControlName="penalizacion_pago_tardio" [style]="{width:'100%'}"></p-dropdown>
					</div>
					<div class="col-12 col-md-3" *ngIf="frmCondomino.get('penalizacion_pago_tardio')?.value == '1' || frmCondomino.get('penalizacion_pago_tardio')?.value == 1">
						<label>% por día <span class="text-danger">*</span></label>
						<div class="p-inputgroup"><input pInputText type="number" formControlName="porcentaje_penalizacion" class="w-100" min="0" max="100" step="0.01" /><span class="p-inputgroup-addon">%</span></div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Servicios no incluidos (por pagar)</label>
						<p-multiSelect [options]="serviciosOpciones" formControlName="otros_servicios" defaultLabel="Seleccionar servicios..." [style]="{width:'100%'}"></p-multiSelect>
					</div>
					<div class="col-12 col-md-6">
						<label>Cuota de Mantenimiento <span class="text-danger">*</span></label>
						<p-dropdown [options]="cuotaMttoOpciones" formControlName="cuota_mantenimiento_aplica" [disabled]="true" [style]="{width:'100%'}"></p-dropdown>
					</div>
				</div>
			</div>

			<!-- Legal / Contrato -->
			<div class="hoose-section">
				<div class="hoose-section-title">Legal / Contrato</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Representación en Asambleas <span class="text-danger">*</span></label>
						<p-dropdown [options]="representacionOpciones" formControlName="representacion_asamblea" [style]="{width:'100%'}"></p-dropdown>
					</div>
					<div class="col-12 col-md-6">
						<label>Archivo del Contrato</label>
						<input type="file" class="form-control form-control-sm" accept=".pdf" (change)="onContratoSeleccionado($event)" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Fecha de Firma del Contrato</label>
						<p-calendar [showIcon]="true" formControlName="contrato_fecha_firma" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"></p-calendar>
					</div>
					<div class="col-12 col-md-6">
						<label>Fecha de Vencimiento del Contrato</label>
						<p-calendar [showIcon]="true" formControlName="contrato_fecha_vencimiento" dateFormat="dd-MM-yy" [appendTo]="dlgCondomino" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"></p-calendar>
					</div>
				</div>
			</div>
		</form>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- Botón Guardar -->
    <button pButton type="button" label="Guardar" icon="pi pi-save" class="p-button-raised p-button-info me-sm-1"
      pTooltip="Almacenar la información" tooltipPosition="top" [disabled]="!frmCondomino.valid"
      (click)="onCondominoGuardar()"></button>
    <!-- Botón Cancelar -->
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-warning ml-2"
      pTooltip="Cancelar el proceso" tooltipPosition="top" (click)="onCondominoCancelar()"></button>
  </ng-template>
</p-dialog>

<!-- Diálogo de deshabilitar -->
<p-dialog #dlgCondominoDeshabilitar [(visible)]="mostrarDialogoDeshabilitarCondomino" [style]="{ width: '350px' }"
  [modal]="true" [closable]="false" header="Deshabilitar Condómino" styleClass="hoose-dialogo">
  <ng-template pTemplate="content">
    <form id="frmCondominoDeshabilitar" class="mt-1" [formGroup]="frmCondominoDeshabilitar" autocomplete="off">
      <div class="row py-1">
        <!-- Fecha fin -->
        <div class="col-12">
          <label for="txtFechaFin">Fecha finalización del contrato</label>
          <p-calendar inputId="txtFechaFin" formControlName="fecha_fin" dateFormat="dd-MM-yy"
            [appendTo]="dlgCondominoDeshabilitar" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"
            autofocus></p-calendar>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- Botón Confirmar -->
    <button pButton type="button" label="Confirmar" icon="pi pi-save" class="p-button-raised p-button-info me-sm-1"
      pTooltip="Confirma deshabilitar el contrato con el Condomino" tooltipPosition="top"
      [disabled]="!frmCondominoDeshabilitar.valid" (click)="onCondominoDeshabilitarGuardar()"></button>
    <!-- Botón Cancelar -->
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-warning ml-2"
      pTooltip="Cancelar el proceso" tooltipPosition="top" (click)="onCondominoDeshabilitarCancelar()"></button>
  </ng-template>
</p-dialog>

<!-- Diálogo Imagen del Condomino -->
<p-dialog
	styleClass="hoose-dialogo" [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '75vw' }"
  [(visible)]="mostrarDialogoImagenCondomino" [contentStyle]="{ display: 'flex' }" modal="true"
  header="Imagen del Condomino" baseZIndex="99">
  <ng-template pTemplate="content">
    <div class="imagenPreviewContainer imagenPreview">
      <img [src]="srcImagenMostrar" />
    </div>
  </ng-template>
</p-dialog>

<!-- Diálogo Contrato -->
<p-dialog
	styleClass="hoose-dialogo" [breakpoints]="{ '991px': '80vw', '640px': '96vw' }" [style]="{ width: '75vw' }"
  [(visible)]="mostrarDialogoContratoCondomino" [contentStyle]="{ display: 'flex', height: '90vh' }" modal="true"
  header="Contrato de arrendamiento del Condómino">
  <ng-template pTemplate="content">
    <div class="imagenPreviewContainer">
      <iframe id="fraContrato" class="img-thumbnail" [src]="contratoURL()" (load)="onContratoMostrado()"> </iframe>
    </div>
  </ng-template>
</p-dialog>

<!-- Diálogo Detalles del Condomino -->
<p-dialog
  styleClass="hoose-detalle-dialog"
  [breakpoints]="{ '991px': '90vw', '640px': '98vw' }"
  [style]="{ width: '70vw', maxWidth: '900px' }"
  [(visible)]="mostrarDialogoDetallesCondomino"
  [modal]="true"
  [showHeader]="false"
  [contentStyle]="{'padding': '0', 'background': '#12121f', 'border-radius': '16px'}"
>
<ng-template pTemplate="content">
<div class="hoose-detalle">
  <!-- Header -->
  <div class="hoose-detalle-header">
    <div class="d-flex align-items-center">
      <div class="hoose-detalle-icon-header" style="background:rgba(139,92,246,0.15)"><i class="pi pi-home" style="color:#8b5cf6"></i></div>
      <div class="ms-3">
        <h4 class="mb-0 text-white">Detalles del Condómino</h4>
        <small class="text-muted">Resumen general del condómino y datos de arrendamiento</small>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2">
      <button pButton type="button" icon="pi pi-pencil" label="Editar" class="p-button-outlined p-button-sm" style="color:#ccc;border-color:#444" (click)="mostrarDialogoDetallesCondomino=false; onCondominoEditar(Condomino)"></button>
      <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm" style="color:#888" (click)="mostrarDialogoDetallesCondomino=false"></button>
    </div>
  </div>

  <div class="row g-3 p-3">
    <!-- Columna izquierda: Perfil -->
    <div class="col-12 col-md-4">
      <div class="hoose-detalle-card text-center p-4">
        <div class="hoose-avatar-ring mx-auto mb-3" style="border-color:#8b5cf6" (click)="srcImagen && onImagenMostrar(srcImagen)" [ngStyle]="{'cursor': srcImagen ? 'pointer' : 'default'}">
          <img *ngIf="srcImagen" [src]="srcImagen" class="hoose-avatar-img" />
          <span *ngIf="!srcImagen" class="hoose-avatar-initials" style="color:#8b5cf6">{{ (Condomino.nombre || 'C').charAt(0) }}{{ (Condomino.apellidos || '').charAt(0) || '' }}</span>
        </div>
        <div class="mb-2">
          <span class="hoose-badge-activo" *ngIf="Condomino.estatus == 1"><span class="hoose-dot-green"></span> Activo</span>
          <span class="hoose-badge-inactivo" *ngIf="Condomino.estatus != 1"><span class="hoose-dot-red"></span> Inactivo</span>
        </div>
        <h5 class="text-white mb-1">{{ Condomino.nombre }} {{ Condomino.apellidos || '' }}</h5>
        <small class="text-muted">{{ Condomino.usuario }}</small>

        <div class="d-flex justify-content-center gap-2 mt-3">
          <div class="hoose-stat-box">
            <i class="pi pi-building" style="color:#e91e8a;font-size:1.2rem"></i>
            <div class="hoose-stat-val">{{ Condomino.edificio || '-' }}</div>
            <div class="hoose-stat-label">Torre</div>
          </div>
          <div class="hoose-stat-box">
            <i class="pi pi-th-large" style="color:#3b82f6;font-size:1.2rem"></i>
            <div class="hoose-stat-val">{{ Condomino.unidad || '-' }}</div>
            <div class="hoose-stat-label">Unidad</div>
          </div>
          <div class="hoose-stat-box">
            <i class="pi pi-check-circle" style="color:#10b981;font-size:1.2rem"></i>
            <div class="hoose-stat-val">{{ Condomino.contrato_activo == 1 ? 'Activo' : 'Inactivo' }}</div>
            <div class="hoose-stat-label">Contrato</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha: Info -->
    <div class="col-12 col-md-8">
      <!-- Quick info -->
      <div class="hoose-detalle-card p-3 mb-3">
        <div class="d-flex flex-wrap gap-3">
          <div class="d-flex align-items-center gap-2" *ngIf="Condomino.email">
            <div class="hoose-info-icon" style="background:rgba(59,130,246,0.15)"><i class="pi pi-envelope" style="color:#3b82f6"></i></div>
            <div><small class="text-muted d-block">Email</small><a [href]="'mailto:' + Condomino.email" style="color:#3b82f6;font-size:0.85rem;font-weight:600;text-decoration:none">{{ Condomino.email }}</a></div>
          </div>
          <div class="d-flex align-items-center gap-2" *ngIf="Condomino.telefono">
            <div class="hoose-info-icon" style="background:rgba(16,185,129,0.15)"><i class="pi pi-phone" style="color:#10b981"></i></div>
            <div><small class="text-muted d-block">Teléfono</small><a [href]="'tel:' + Condomino.telefono" style="color:#10b981;font-weight:600;text-decoration:none">{{ Condomino.telefono | phoneFormat }}</a></div>
          </div>
          <div class="d-flex align-items-center gap-2">
            <div class="hoose-info-icon" style="background:rgba(233,30,138,0.15)"><i class="pi pi-building" style="color:#e91e8a"></i></div>
            <div><small class="text-muted d-block">Edificio / Unidad</small><strong class="text-white">{{ Condomino.edificio || '-' }} {{ Condomino.unidad || '' }}</strong></div>
          </div>
        </div>
      </div>

      <!-- Información de contacto -->
      <div class="hoose-detalle-card p-3 mb-3">
        <div class="d-flex align-items-center gap-2 mb-3"><div class="hoose-info-icon-sm" style="background:rgba(139,92,246,0.15)"><i class="pi pi-user" style="color:#8b5cf6"></i></div><h6 class="text-white mb-0">Información de contacto</h6></div>
        <div class="row">
          <div class="col-6 mb-2"><small class="text-muted d-block">Nombre</small><span class="text-white">{{ Condomino.nombre }} {{ Condomino.apellidos || '' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Teléfono</small><span class="text-white">{{ Condomino.telefono ? (Condomino.telefono | phoneFormat) : 'No registrado' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Usuario</small><span class="text-white">{{ Condomino.usuario || 'No registrado' }}</span></div>

          <div class="col-6"><small class="text-muted d-block">Email</small><span class="text-white">{{ Condomino.email || 'No registrado' }}</span></div>
        </div>
      </div>

      <!-- Unidad en Alquiler -->
      <div class="hoose-detalle-card p-3 mb-3">
        <div class="d-flex align-items-center gap-2 mb-3"><div class="hoose-info-icon-sm" style="background:rgba(233,30,138,0.15)"><i class="pi pi-home" style="color:#e91e8a"></i></div><h6 class="text-white mb-0">Unidad en Alquiler</h6></div>
        <div class="row">
          <div class="col-6 mb-2"><small class="text-muted d-block">Unidad</small><span class="text-white">{{ Condomino.unidad || '-' }} ({{ Condomino.edificio || '-' }})</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Depósito</small><span class="text-white">{{ Condomino.deposito | number:'1.2-2' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Renta</small><span class="text-white">{{ Condomino.renta | number:'1.2-2' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Día límite de pago</small><span class="text-white">{{ Condomino.fecha_limite_pago || 'No definido' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Fecha inicio</small><span class="text-white">{{ Condomino.fecha_inicio | date:'MMMM dd, yyyy' | uppercase }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Fecha término</small><span class="text-white">{{ Condomino.fecha_fin ? (Condomino.fecha_fin | date:'MMMM dd, yyyy' | uppercase) : 'No definida' }}</span></div>
          <div class="col-6 mb-2" *ngIf="Condomino.penalizacion_pago_tardio == 1"><small class="text-muted d-block">Penalización pago tardío</small><span class="text-white">Sí — {{ Condomino.porcentaje_penalizacion }}% por día</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Servicios no incluidos</small><span class="text-white">{{ Condomino.otros_servicios || 'Ninguno' }}</span></div>
          <div class="col-6"><small class="text-muted d-block">Cuota de mantenimiento</small><span class="text-white">{{ Condomino.cuota_mantenimiento_aplica == '1' ? 'Sí, a cargo del Condómino' : 'No aplica' }}</span></div>
          <div class="col-6"><small class="text-muted d-block">Estatus contrato</small><span class="hoose-badge-activo" *ngIf="Condomino.contrato_activo == 1"><span class="hoose-dot-green"></span> Activo</span><span class="hoose-badge-inactivo" *ngIf="Condomino.contrato_activo != 1"><span class="hoose-dot-red"></span> Inactivo</span></div>
        </div>
      </div>

      <!-- Legal / Contrato -->
      <div class="hoose-detalle-card p-3 mb-3">
        <div class="d-flex align-items-center gap-2 mb-3"><div class="hoose-info-icon-sm" style="background:rgba(245,158,11,0.15)"><i class="pi pi-briefcase" style="color:#f59e0b"></i></div><h6 class="text-white mb-0">Legal / Contrato</h6></div>
        <div class="row">
          <div class="col-6 mb-2"><small class="text-muted d-block">Representación en Asambleas</small><span class="text-white">{{ Condomino.representacion_asamblea == '1' ? 'Sí' : 'No' }}</span></div>
          <div class="col-6 mb-2"><small class="text-muted d-block">Fecha firma contrato</small><span class="text-white">{{ Condomino.contrato_fecha_firma ? (Condomino.contrato_fecha_firma | date:'MMMM dd, yyyy' | uppercase) : 'No registrada' }}</span></div>
          <div class="col-6"><small class="text-muted d-block">Fecha vencimiento contrato</small><span class="text-white">{{ Condomino.contrato_fecha_vencimiento ? (Condomino.contrato_fecha_vencimiento | date:'MMMM dd, yyyy' | uppercase) : 'No registrada' }}</span></div>
        </div>
      </div>

      <!-- Identificación -->
      <div class="hoose-detalle-card p-3 mb-3">
        <div class="d-flex align-items-center gap-2 mb-2"><div class="hoose-info-icon-sm" style="background:rgba(59,130,246,0.15)"><i class="pi pi-id-card" style="color:#3b82f6"></i></div><h6 class="text-white mb-0">Identificación</h6></div>
        <div class="row">
          <div class="col-6"><small class="text-muted d-block">Folio Identificación</small><span class="text-white">{{ Condomino.identificacion_folio || 'No registrado' }}</span></div>
          <div class="col-6"><small class="text-muted d-block">Domicilio Identificación</small><span class="text-white">{{ Condomino.identificacion_domicilio || 'No registrado' }}</span></div>
        </div>
        <div class="row mt-2" *ngIf="srcIdentificacionAnverso || srcIdentificacionReverso">
          <div class="col-6 text-center" *ngIf="srcIdentificacionAnverso">
            <small class="text-muted d-block mb-1">Anverso</small>
            <img [src]="srcIdentificacionAnverso" class="img-fluid rounded" style="max-height:120px;cursor:pointer;border:1px solid #333" (click)="onImagenMostrar(srcIdentificacionAnverso)" />
          </div>
          <div class="col-6 text-center" *ngIf="srcIdentificacionReverso">
            <small class="text-muted d-block mb-1">Reverso</small>
            <img [src]="srcIdentificacionReverso" class="img-fluid rounded" style="max-height:120px;cursor:pointer;border:1px solid #333" (click)="onImagenMostrar(srcIdentificacionReverso)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>
</p-dialog>