/* .container-btn-agregar-imagenes input[type='file'] {
	display: none;
}
.container-btn-agregar-imagenes label {
	display: block;
	position: relative;
	background-color: var(--bs-dark);
	color: #ffffff;
	font-size: 1.12em;
	font-weight: 500;
	text-align: center;
	width: 18.75em;
	padding: 1.12em 0;
	margin: auto;
	border-radius: 0.31em;
	cursor: pointer;
} */
