<div class="card shadow-sm">
	<p-table
		#ptColaboradores
		[responsive]="true"
		[value]="Colaboradores"
		[columns]="ColaboradoresCols"
		[rowHover]="true"
		[globalFilterFields]="ColaboradoresFilter"
		[showCurrentPageReport]="true"
		[paginator]="Colaboradores.length > 0"
		[rows]="50"
		dataKey="id_usuario"
		styleClass="p-datatable-striped"
		currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
	>
		<ng-template pTemplate="caption">
			<div class="d-flex align-items-center p-1">
				<div class="me-auto">
					<!-- Botón Nuevo -->
					<button
						*ngIf="permitirAgregarEditar"
						pButton
						type="button"
						icon="pi pi-plus"
						class="p-button-rounded p-button-raised p-button-success ms-1"
						pTooltip="Agregar colaborador"
						tooltipPosition="right"
						(click)="onColaboradorEditar()"
					></button>
				</div>
				<!-- Opciones Filtrado -->
				<div class="ms-auto">
					<!-- Botón Actualizar -->
					<button
						*ngIf="isDevelopment"
						pButton
						type="button"
						icon="pi pi-refresh"
						class="p-button-rounded p-button-text p-button-secondary me-2"
						pTooltip="Actualizar información"
						tooltipPosition="right"
						(click)="onActualizarInformacion()"
					></button>
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input
							type="text"
							id="txtGlobalFilter"
							class="form-control ms-1 ps-4"
							(input)="ptColaboradores.filterGlobal($event.target.value, 'contains')"
							placeholder="Filtrar"
						/>
					</span>
				</div>
				<div>
					<button
						pButton
						pRipple
						type="button"
						id="btnLimpiarFiltro"
						icon="pi pi-times"
						class="p-button-rounded p-button-text p-button-danger ms-3"
						pTooltip="Limpiar filtro"
						tooltipPosition="left"
						(click)="hlpPrimeNGTable.reset(ptColaboradores)"
					></button>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th
					*ngFor="let col of columns"
					class="text-center"
					[ngClass]="col.class ? col.class : ''"
					[ngStyle]="{
						width: col.width ? col.width : 'inherit'
					}"
				>
					{{ col.header ? col.header : '&nbsp;' }}
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-Colaborador>
			<tr>
				<td class="me-1 mt-1">
					<div (click)="onColaboradorDetalles(Colaborador.id_usuario)" style="cursor: pointer">
						<img
							class="rounded-circle"
							src="{{
								Colaborador.imagen
									? appData.urlBackendUsuariosFiles + Colaborador.id_usuario + '/' + Colaborador.imagen
									: './assets/img/imagen_no_disponible.png'
							}}"
							style="width: 70px; height: 70px"
						/>
					</div>
				</td>
				<td><span class="p-column-title">Nombre</span>{{ Colaborador.nombre }}</td>
				<td><span class="p-column-title">Usuario</span>{{ Colaborador.usuario }}</td>
				<td><span class="p-column-title">Email</span>{{ Colaborador.email }}</td>
				<td class="text-md-end">
					<span class="p-column-title">Contacto</span>{{ Colaborador.telefono | phoneFormat }}
				</td>
				<td class="carriage-return"><span class="p-column-title">Domicilio</span>{{ Colaborador.domicilio }}</td>
				<td><span class="p-column-title">Tipo</span>{{ Colaborador.tipo_miembro }}</td>
				<td class="text-md-end">
					<span class="p-column-title">Inicio</span>{{ Colaborador.fecha_inicio | date : 'MMMM dd, yyyy' | uppercase }}
				</td>
				<td class="text-md-end">
					<span class="p-column-title">Salario</span>{{ Colaborador.salario | number : '1.2-2' }}
				</td>
				<td class="text-center"><span *ngIf="Colaborador.condominio_nombre" [style.color]="getCondominioColor(Colaborador.condominio_nombre)" style="font-weight:600;font-size:0.78rem">{{ Colaborador.condominio_nombre }}</span><span *ngIf="!Colaborador.condominio_nombre" style="color:#8a8f9e;font-size:0.75rem;font-style:italic">Sin asignar</span></td>
				<td class="text-md-center">
					<span class="p-column-title">Estatus</span>
					<span [ngStyle]="{ cursor: Colaborador.id_estatus_recaudacion == 1 ? 'pointer' : 'context-menu' }">
						<p-tag
							severity="{{ Colaborador.estatus == 1 ? 'success' : 'danger' }}"
							value="{{ Colaborador.estatus == 1 ? 'A' : 'Ina' }}ctivo"
							pTooltip="{{ Colaborador.estatus == 1 ? 'Desh' : 'H' }}abilitar colaborador"
							tooltipPosition="left"
							tooltipDisabled="{{ !permitirAgregarEditar }}"
							(click)="permitirAgregarEditar && onColaboradorAlternarEstatus(Colaborador)"
						></p-tag>
					</span>
				</td>
				<td class="text-end">
					<!-- <p-splitButton
						icon="pi pi-eye"
						styleClass="p-button-warning p-menu-align-right"
						[model]="mnuAcciones"
						(onClick)="onColaboradorDetalles(Colaborador.id_usuario)"
						(onDropdownClick)="onDropdownActions(Colaborador)"
					></p-splitButton> -->
					<!-- Botón Editar -->
					<button
						*ngIf="permitirAgregarEditar && Colaborador.estatus == 1"
						pButton
						type="button"
						icon="pi pi-pencil"
						class="p-button-rounded p-button-text p-button-success me-1"
						pTooltip="Editar colaborador"
						tooltipPosition="left"
						(click)="onColaboradorEditar(Colaborador.id_usuario)"
					></button>
					<!-- Botón Salarios -->
					<button
						*ngIf="permitirAgregarEditar"
						pButton
						type="button"
						icon="pi pi-money-bill"
						class="p-button-rounded p-button-text me-1"
						pTooltip="Salarios"
						tooltipPosition="left"
						(click)="onColaboradorDetalles(Colaborador.id_usuario)"
					></button>
					<!-- Botón Solicitudes ausencia -->
					<button
						*ngIf="permitirAgregarEditar"
						pButton
						type="button"
						icon="pi pi-calendar"
						class="p-button-rounded p-button-text p-button-danger me-1"
						pTooltip="Solicitudes de ausencia"
						tooltipPosition="left"
						(click)="onColaboradorDetalles(Colaborador.id_usuario)"
					></button>
					<!-- Botón Detalles -->
					<button
						pButton
						type="button"
						icon="pi pi-eye"
						class="p-button-rounded p-button-text p-button-warning me-1"
						pTooltip="Detalles del colaborador"
						tooltipPosition="left"
						(click)="onColaboradorDetalles(Colaborador.id_usuario)"
					></button>

					<!-- Botón Deshabilitar -->
					<!-- <button
						pButton
						type="button"
						icon="pi pi-trash"
						class="p-button-rounded p-button-text p-button-danger me-1"
						pTooltip="Deshabilitar colaborador"
						tooltipPosition="left"
						(click)="onColaboradorDeshabilitar(Colaborador)"
					></button> -->
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage"
			><tr class="no-records">
				<td colspan="2">Sin registros.</td>
			</tr></ng-template
		>
	</p-table>
</div>

<!-- Diálogo de inserción y edición -->
<p-dialog
	#dlgColaborador
	[(visible)]="mostrarDialogoEdicionColaborador"
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '50vw' }"
	[modal]="true"
	[closable]="false"
	header="Detalles del Colaborador {{ Colaborador && Colaborador.id_usuario == 0 ? ' Nuevo' : '' }}"
	styleClass="hoose-dialogo"
>
	<ng-template pTemplate="content">
		<form *ngIf="frmColaborador" id="frmColaborador" class="mt-1" [formGroup]="frmColaborador" autocomplete="off">
			<!-- Condominio -->
			<div class="hoose-section" *ngIf="esSuperAdminSinCondominio">
				<div class="hoose-section-title">Condominio</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Condominio <span class="text-danger">*</span></label>
						<select class="form-control" formControlName="fk_id_condominio">
							<option [value]="null" disabled>Selecciona el condominio</option>
							<option *ngFor="let c of condominiosLista" [value]="c.value">{{ c.label }}</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Datos Generales -->
			<div class="hoose-section">
				<div class="hoose-section-title">Datos Generales</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Nombre(s) <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="nombre" class="uppercase w-100" autofocus (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
					<div class="col-12 col-md-6">
						<label>Apellidos <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="apellidos" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" (input)="onGenerarUsuario()" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Email</label>
						<input type="text" pInputText formControlName="email" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Teléfono</label>
						<p-inputMask formControlName="telefono" mask="(9999) 99-9999" unmask="true" placeholder="(9999) 99-9999" (focus)="hlpApp.selectAllContent($event)"></p-inputMask>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12">
						<label>Imagen de Perfil</label>
						<div *ngIf="srcImagen" class="text-center mb-2">
							<img class="imagenThumbnail img-thumbnail" style="cursor:pointer;max-height:100px" [src]="srcImagen" (click)="onImagenMostrar(srcImagen)" />
						</div>
						<div class="d-flex gap-2">
							<label for="txtImagenArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtImagenArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 1)" />
							<button *ngIf="frmColaborador.get('archivo_imagen').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(1)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmColaborador.get('imagen').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(1)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Identificación -->
			<div class="hoose-section">
				<div class="hoose-section-title">Identificación</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Folio Identificación <span class="text-danger">*</span></label>
						<input pInputText type="text" formControlName="identificacion_folio" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
					<div class="col-12 col-md-6">
						<label>Domicilio <span class="text-danger">*</span></label>
						<textarea pInputTextarea formControlName="identificacion_domicilio" rows="2" class="uppercase w-100" (focus)="hlpApp.selectAllContent($event)"></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Anverso Identificación <span class="text-danger">*</span></label>
						<img *ngIf="srcIdentificacionAnverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionAnverso" (click)="onImagenMostrar(srcIdentificacionAnverso)" />
						<div class="d-flex gap-2">
							<label for="txtAnversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtAnversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 2)" />
							<button *ngIf="frmColaborador.get('archivo_identificacion_anverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(2)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmColaborador.get('identificacion_anverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(2)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label>Reverso Identificación <span class="text-danger">*</span></label>
						<img *ngIf="srcIdentificacionReverso" class="imagenThumbnail img-thumbnail mb-2 d-block" style="cursor:pointer;max-height:80px" [src]="srcIdentificacionReverso" (click)="onImagenMostrar(srcIdentificacionReverso)" />
						<div class="d-flex gap-2">
							<label for="txtReversoIdentificacionArchivo" class="btn btn-dark"><i class="pi pi-folder-open"></i></label>
							<input type="file" id="txtReversoIdentificacionArchivo" class="d-none" accept=".png,.jpg,.jpeg" (change)="onImagenSeleccionada($event, 3)" />
							<button *ngIf="frmColaborador.get('archivo_identificacion_reverso').value" type="button" class="btn btn-secondary" (click)="onImagenSeleccionadaCancelar(3)"><i class="pi pi-undo"></i></button>
							<button *ngIf="frmColaborador.get('identificacion_reverso').value" type="button" class="btn btn-danger" (click)="onImagenEliminar(3)"><i class="pi pi-trash"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!-- Cuenta de Usuario -->
			<div class="hoose-section">
				<div class="hoose-section-title">Cuenta de Usuario</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Usuario <span class="text-danger">*</span></label>
						<input type="text" pInputText formControlName="usuario" class="lowercase w-100" (focus)="hlpApp.selectAllContent($event)" />
					</div>
				</div>
				<div class="row mt-2" *ngIf="frmColaborador.get('id_usuario').value == 0">
					<div class="col-12">
						<app-password-input [control]="frmColaborador.get('contrasenia')" label="Contraseña inicial" placeholder="Se enviará al correo" [confirmar]="true" [required]="true"></app-password-input>
					</div>
				</div>
			</div>

			<!-- Información Laboral -->
			<div class="hoose-section">
				<div class="hoose-section-title">Información Laboral</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<label>Tipo de Colaborador</label>
						<select formControlName="id_tipo_miembro" class="form-select">
							<option [value]="0" disabled>Selecciona tipo...</option>
							<option *ngFor="let t of TiposMiembro" [value]="t.id_tipo_miembro">{{ t.tipo_miembro }}</option>
						</select>
					</div>
					<div class="col-12 col-md-6">
						<label>Salario Mensual</label>
						<div class="p-inputgroup"><span class="p-inputgroup-addon">$</span><p-inputNumber formControlName="salario" mode="decimal" locale="es-MX" [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0" [inputStyle]="{ 'text-align': 'right' }" (onFocus)="hlpApp.selectAllContent($event)"></p-inputNumber></div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-md-6">
						<label>Fecha de Contratación</label>
						<p-calendar [showIcon]="true" formControlName="fecha_inicio" dateFormat="dd-MM-yy" [appendTo]="dlgColaborador" [inputStyle]="{ 'text-align': 'right' }" inputStyleClass="uppercase"></p-calendar>
					</div>
				</div>
			</div>
		</form>
	</ng-template>
	<ng-template pTemplate="footer">
		<!-- Botón Guardar -->
		<button
			pButton
			type="button"
			label="Guardar"
			icon="pi pi-save"
			class="p-button-raised p-button-info me-sm-1"
			pTooltip="Almacenar la información"
			tooltipPosition="top"
			[disabled]="!frmColaborador.valid"
			(click)="onColaboradorGuardar()"
		></button>
		<!-- Botón Cancelar -->
		<button
			pButton
			type="button"
			label="Cancelar"
			icon="pi pi-times"
			class="p-button-raised p-button-warning ml-2"
			pTooltip="Cancelar el proceso"
			tooltipPosition="top"
			(click)="onColaboradorCancelar()"
		></button>
	</ng-template>
</p-dialog>

<!-- Diálogo Imagen del Colaborador -->
<p-dialog
	styleClass="hoose-dialogo"
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '75vw' }"
	[(visible)]="mostrarDialogoImagenColaborador"
	[contentStyle]="{ display: 'flex' }"
	modal="true"
	header="Imagen del Colaborador"
	baseZIndex="99"
>
	<ng-template pTemplate="content">
		<div class="imagenPreviewContainer imagenPreview">
			<img [src]="srcImagenMostrar" />
		</div>
	</ng-template>
</p-dialog>

<!-- Diálogo Contrato -->
<p-dialog
	styleClass="hoose-dialogo"
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '75vw' }"
	[(visible)]="mostrarDialogoContratoColaborador"
	[contentStyle]="{ display: 'flex', height: '90vh' }"
	modal="true"
	header="Contrato de arrendamiento del Condómino"
>
	<ng-template pTemplate="content">
		<div class="imagenPreviewContainer">
			<iframe id="fraContrato" class="img-thumbnail" [src]="contratoURL()" (load)="onContratoMostrado()"> </iframe>
		</div>
	</ng-template>
</p-dialog>

<!-- Diálogo Detalles del Colaborador -->
<p-dialog
	styleClass="hoose-dialogo"
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '60vw' }"
	[(visible)]="mostrarDialogoDetallesColaborador"
	modal="true"
	header="Detalles del Colaborador"
>
	<ng-template pTemplate="content">
		<div class="row pt-4">
			<!-- Thumbnail de la Imagen del colaborador -->
			<div class="col-12 text-center">
				<div>
					<img
						[src]="srcImagen ? srcImagen : './assets/img/imagen_no_disponible.png'"
						class="imagenThumbnail img-thumbnail"
						[ngStyle]="{ cursor: srcImagen ? 'pointer' : 'inherit' }"
						(click)="srcImagen && onImagenMostrar(srcImagen)"
					/><!-- <br />
				<b>Imagen del Colaborador</b> -->
				</div>
				<div class="mt-1">
					<b>Estatus: </b>
					<!-- <span class="p-column-title">Estatus</span> -->
					<!-- <div style="cursor: pointer" (click)="Condomino.estatus == 1 && onCondominoAlternarEstatus(Condomino)"> -->
					<p-tag *ngIf="Colaborador.estatus == 1" severity="success" value="Activo"></p-tag>
					<p-tag *ngIf="Colaborador.estatus != 1" severity="danger" value="Inactivo"></p-tag>
				</div>
			</div>
			<hr class="mt-3" />
		</div>

		<div class="row">
			<div class="col-6">
				<p class="m-0"><b>Nombre:</b> {{ Colaborador.nombre }}</p>
				<p class="m-0"><b>Usuario:</b> {{ Colaborador.usuario }}</p>
				<p class="m-0"><b>Email:</b> {{ Colaborador.email }}</p>
				<p class="m-0"><b>Teléfono:</b> {{ Colaborador.telefono | phoneFormat }}</p>
				<p class="m-0"><b>Domicilio:</b> {{ Colaborador.domicilio }}</p>
			</div>
			<div class="col-6">
				<p class="m-0"><b>Folio Identificacion:</b> {{ Colaborador.identificacion_folio }}</p>
				<p class="m-0"><b>Domicilio Identificación:</b> {{ Colaborador.identificacion_domicilio }}</p>
				<p class="m-0"><b>Tipo:</b> {{ Colaborador.tipo_miembro }}</p>
				<p class="m-0"><b>Salario:</b> {{ Colaborador.salario | number : '1.2-2' }}</p>
				<p class="m-0"><b>Fecha inicio:</b> {{ Colaborador.fecha_inicio | date : 'MMMM dd, yyyy' | uppercase }}</p>
				<!-- <p class="m-0"><b>Estatus:</b> {{ (Colaborador.contrato_activo == 1 ? 'A' : 'Ina') + 'ctiva' }}</p> -->
			</div>
		</div>

		<!-- Thumbnails de la Identificación del colaborador -->
		<div *ngIf="srcIdentificacionAnverso || srcIdentificacionReverso" class="row mt-2">
			<hr class="mt-3" />
			<div class="col-12 text-center my-1"><b>Identificación</b></div>
			<div
				*ngIf="srcIdentificacionAnverso"
				class="col-12 text-end"
				[ngClass]="{ 'col-md-6': srcIdentificacionReverso }"
			>
				<img
					class="imagenThumbnail img-thumbnail"
					[src]="srcIdentificacionAnverso"
					style="cursor: pointer"
					(click)="onImagenMostrar(srcIdentificacionAnverso)"
				/>
			</div>
			<div
				*ngIf="srcIdentificacionReverso"
				class="col-12 text-start"
				[ngClass]="{ 'col-md-6': srcIdentificacionAnverso }"
			>
				<img
					class="imagenThumbnail img-thumbnail"
					[src]="srcIdentificacionReverso"
					style="cursor: pointer"
					(click)="onImagenMostrar(srcIdentificacionReverso)"
				/>
			</div>
		</div>

		<!-- Contrato -->
		<div *ngIf="Colaborador.contrato" class="row mt-2">
			<div class="col-12 text-center my-1"><b>Contrato</b></div>
			<div class="col-12 text-center">
				<i
					class="pi pi-file-pdf img-thumbnail text-danger p-3"
					style="font-size: 7rem; cursor: pointer"
					pTooltip="Visualizar el contrato de arrendamiento"
					tooltipPosition="top"
					(click)="onContratoMostrar(Colaborador)"
				></i>
			</div>
		</div>
	</ng-template>
</p-dialog>
