:host ::ng-deep .p-editor-container .ql-toolbar {
  background: #1a1a2e !important;
  border: 1px solid #333 !important;
}

:host ::ng-deep .p-editor-container .ql-toolbar .ql-picker-label,
:host ::ng-deep .p-editor-container .ql-toolbar button {
  color: #aaa !important;
}

:host ::ng-deep .p-editor-container .ql-toolbar button svg .ql-stroke {
  stroke: #aaa !important;
}

:host ::ng-deep .p-editor-container .ql-toolbar button svg .ql-fill {
  fill: #aaa !important;
}

:host ::ng-deep .p-editor-container .ql-container {
  background: #141422 !important;
  border: 1px solid #333 !important;
}

:host ::ng-deep .p-editor-container .ql-editor {
  background: #141422 !important;
  color: #ddd !important;
}

:host ::ng-deep .p-editor-container .ql-editor.ql-blank::before {
  color: #555 !important;
}

:host ::ng-deep input.form-control,
:host ::ng-deep textarea.form-control {
  background: #141422 !important;
  border: 1px solid #333 !important;
  color: #ddd !important;
}

:host ::ng-deep div[style*="background:#f8f9fa"] {
  background: #1a1a2e !important;
}
