<div class="card shadow-sm">
	<p-table
		#ptNomina
		[responsive]="true"
		[value]="Nomina"
		[columns]="NominaCols"
		[rowHover]="true"
		[globalFilterFields]="NominaFilter"
		[showCurrentPageReport]="true"
		[paginator]="Nomina.length > 0"
		[rows]="50"
		dataKey="id_usuario"
		styleClass="p-datatable-striped"
		currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
		(onFilter)="onFilter($event)"
	>
		<ng-template pTemplate="caption">
			<div class="d-flex align-items-center p-1">
				<div class="me-auto">
					<!-- Botón Nuevo -->
					<button
						*ngIf="permitirAgregarEditar"
						pButton
						type="button"
						icon="pi pi-plus"
						class="p-button-rounded p-button-raised p-button-success ms-1"
						pTooltip="Agregar pago"
						tooltipPosition="right"
						(click)="onNominaPagoEditar()"
					></button>
				</div>
				<!-- Opciones Filtrado -->
				<div class="ms-auto">
					<!-- Botón Actualizar -->
					<button
						*ngIf="isDevelopment"
						pButton
						type="button"
						icon="pi pi-refresh"
						class="p-button-rounded p-button-text p-button-secondary me-2"
						pTooltip="Actualizar información"
						tooltipPosition="right"
						(click)="onActualizarInformacion()"
					></button>
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input
							type="text"
							id="txtGlobalFilter"
							class="form-control ms-1 ps-4"
							(input)="ptNomina.filterGlobal($event.target.value, 'contains')"
							placeholder="Filtrar"
						/>
					</span>
				</div>
				<div>
					<button
						pButton
						pRipple
						type="button"
						id="btnLimpiarFiltro"
						icon="pi pi-times"
						class="p-button-rounded p-button-text p-button-danger ms-3"
						pTooltip="Limpiar filtro"
						tooltipPosition="left"
						(click)="onFilterReset(ptNomina)"
					></button>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th
					*ngFor="let col of columns"
					class="text-center"
					[ngStyle]="{
						width: col.width ? col.width : 'inherit'
					}"
				>
					{{ col.header ? col.header : '&nbsp;' }}
				</th>
			</tr>
			<tr *ngIf="Nomina.length > 0">
				<th colspan="5" class="text-end">$&nbsp;{{ FilaTotales.total | number : '1.0-0' }}</th>
				<th colspan="2">&nbsp;</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-NominaPago>
			<tr>
				<td><span class="p-column-title">Colaborador</span>{{ NominaPago.colaborador }}</td>
				<td><span class="p-column-title">Puesto</span>{{ NominaPago.puesto }}</td>
				<td class="text-md-end"><span class="p-column-title">Año</span>{{ NominaPago.anio }}</td>
				<td class="text-md-center">
					<span class="p-column-title">Mes</span
					>{{ NominaPago.anio.toString() + '/' + NominaPago.mes.toString() + '/01' | date : 'MMMM' | uppercase }}
				</td>
				<td class="text-md-end">
					<span class="p-column-title">Importe</span>{{ NominaPago.importe | number : '1.2-2' }}
				</td>
				<td class="text-md-end">
					<span class="p-column-title">Fecha</span>{{ NominaPago.fecha_pago | date : 'MMMM dd, yyyy' | uppercase }}
				</td>
				<td class="text-end">
					<!-- Botón Editar -->
					<!-- <button
						*ngIf="permitirAgregarEditar && NominaPago.estatus == 1"
						pButton
						type="button"
						icon="pi pi-pencil"
						class="p-button-rounded p-button-text p-button-success me-1"
						pTooltip="Editar"
						tooltipPosition="left"
						(click)="onNominaPagoEditar(NominaPago.id_colaborador_nomina)"
					></button> -->
					<!-- Botón Eliminar -->
					<button
						*ngIf="permitirAgregarEditar && NominaPago.estatus == 1"
						pButton
						type="button"
						icon="pi pi-trash"
						class="p-button-rounded p-button-text p-button-danger me-1"
						pTooltip="Eliminar"
						tooltipPosition="left"
						(click)="onNominaPagoEliminar(NominaPago)"
					></button>
					<!-- Botón Detalles -->
					<button
						pButton
						type="button"
						icon="pi pi-eye"
						class="p-button-rounded p-button-text p-button-warning me-1"
						pTooltip="Detalles"
						tooltipPosition="left"
						(click)="onNominaPagoDetalles(NominaPago.id_colaborador_nomina)"
					></button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage"
			><tr class="no-records">
				<td [attr.colspan]="NominaCols.length">Sin registros.</td>
			</tr></ng-template
		>
	</p-table>
</div>

<!-- Diálogo de inserción y edición -->
<p-dialog
	#dlgNominaPago
	[(visible)]="mostrarDialogoEdicionNominaPago"
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '50vw' }"
	[modal]="true"
	[closable]="false"
	header="Detalles del Pago de Nómina {{ NominaPago && NominaPago.id_colaborador_nomina == 0 ? ' Nuevo' : '' }}"
	styleClass="p-fluid"
>
	<ng-template pTemplate="content">
		<form id="frmNominaPago" class="mt-1" [formGroup]="frmNominaPago" autocomplete="off">
			<div class="row py-1">
				<!-- Colaborador -->
				<div class="col-12 col-md-6 form-label-group">
					<label for="cmdColaborador">Colaborador</label>
					<select
						#cmdColaborador
						id="cmdColaborador"
						formControlName="id_colaborador"
						class="form-select"
						(change)="onColaboradorSeleccionado($event.target.value)"
					>
						<option [value]="0" selected>Selecciona una opción...</option>
						<option *ngFor="let colaborador of Colaboradores" [value]="colaborador.id_colaborador">
							{{ colaborador.colaborador }}
						</option>
					</select>
				</div>
				<!-- Puesto -->
				<div class="col-12 col-md-6 form-label-group">
					<label for="txtPuesto">Puesto</label>
					<input type="text" pInputText id="txtPuesto" formControlName="puesto" class="uppercase" />
				</div>
			</div>

			<div class="row py-1">
				<!-- Año y Mes -->
				<div class="col-12 col-md-4">
					<label for="txAnioMes">Año y Mes</label>
					<p-calendar
						inputId="txAnioMes"
						formControlName="anio_mes"
						view="month"
						dateFormat="MM/yy"
						[yearNavigator]="true"
						yearRange="{{ appData.appLaunchYear }}:{{ fechaPagoLimite.getFullYear() + 1 }}"
						[appendTo]="dlgNominaPago"
						[inputStyle]="{ 'text-align': 'right' }"
						inputStyleClass="uppercase"
						(onSelect)="onAnioMesSeleccionado($event)"
					></p-calendar>
				</div>
				<!-- Importe -->
				<div class="col-12 col-md-4">
					<label for="txtImporte">Importe</label>
					<p-inputNumber
						inputId="txtImporte"
						formControlName="importe"
						mode="decimal"
						locale="es-MX"
						allowEmpty="false"
						[minFractionDigits]="2"
						[maxFractionDigits]="2"
						[step]="0"
						[inputStyle]="{ 'text-align': 'right' }"
						(onFocus)="hlpApp.selectAllContent($event)"
					>
					</p-inputNumber>
				</div>
				<!-- Fecha pago -->
				<div class="col-12 col-md-4">
					<label for="txtFechaPago">Fecha de pago</label>
					<p-calendar
						inputId="txtFechaPago"
						formControlName="fecha_pago"
						dateFormat="dd-MM-yy"
						inputStyleClass="uppercase"
						[appendTo]="ptNomina"
						[inputStyle]="{ 'text-align': 'right' }"
						[maxDate]="fechaPagoLimite"
					></p-calendar>
				</div>
			</div>

			<!-- Fondo monetario -->
			<div class="row py-1">
				<div class="col-12 form-label-group">
					<label for="cmbFondoMonetario">Fondo monetario</label>
					<select #cmbFondoMonetario id="cmbFondoMonetario" formControlName="id_fondo_monetario" class="form-select">
						<option [value]="0" selected>Selecciona una opción...</option>
						<option *ngFor="let fondo of FondosMonetarios" [value]="fondo.id_fondo_monetario">
							{{ fondo.tipo_fondo }} - {{ fondo.fondo_monetario }}
						</option>
					</select>
				</div>
			</div>
		</form>
	</ng-template>
	<ng-template pTemplate="footer">
		<!-- Botón Guardar -->
		<button
			pButton
			type="button"
			label="Guardar"
			icon="pi pi-save"
			class="p-button-raised p-button-info me-sm-1"
			pTooltip="Almacenar la información"
			tooltipPosition="top"
			[disabled]="!frmNominaPago.valid"
			(click)="onNominaPagoEditarGuardar()"
		></button>
		<!-- Botón Cancelar -->
		<button
			pButton
			type="button"
			label="Cancelar"
			icon="pi pi-times"
			class="p-button-raised p-button-warning ml-2"
			pTooltip="Cancelar el proceso"
			tooltipPosition="top"
			(click)="onNominaPagoEditarCancelar()"
		></button>
	</ng-template>
</p-dialog>

<!-- Diálogo Detalles del Gasto de Mantenimiento -->
<p-dialog
	[breakpoints]="{ '991px': '80vw', '640px': '96vw' }"
	[style]="{ width: '50vw' }"
	[(visible)]="mostrarDialogoDetallesNominaPago"
	modal="true"
	header="Detalles del Pago de Nómina"
>
	<ng-template pTemplate="content">
		<div class="row pt-4">
			<!-- Thumbnail de la Imagen del colaborador -->
			<div class="col-12 text-center">
				<div>
					<img
						[src]="srcImagen ? srcImagen : './assets/img/imagen_no_disponible.png'"
						class="imagenThumbnail img-thumbnail"
					/>
				</div>
			</div>
			<hr class="mt-3" />
		</div>
		<div class="row pb-2">
			<div class="col-6">
				<p class="m-0"><b>Colaborador:</b> {{ NominaPagoDetalle.colaborador }}</p>
				<p class="m-0"><b>Puesto:</b> {{ NominaPagoDetalle.puesto }}</p>
				<p class="m-0"><b>Email:</b> {{ NominaPagoDetalle.email }}</p>
				<p class="m-0"><b>Teléfono:</b> {{ NominaPagoDetalle.telefono }}</p>
			</div>
			<div class="col-6">
				<p class="m-0"><b>Año:</b> {{ NominaPagoDetalle.anio }}</p>
				<p class="m-0">
					<b>Mes:</b>
					{{
						NominaPagoDetalle.anio.toString() + '/' + NominaPagoDetalle.mes.toString() + '/01'
							| date : 'MMMM'
							| uppercase
					}}
				</p>
				<p class="m-0"><b>Importe:</b> {{ NominaPagoDetalle.importe | number : '1.2-2' }}</p>
				<p class="m-0"><b>Fecha pago:</b> {{ NominaPagoDetalle.fecha_pago | date : 'MMMM dd, yyyy' | uppercase }}</p>
			</div>
			<div class="col-12">
				<p class="m-0">
					<b>Fondo monetario:</b>
					{{ NominaPagoDetalle.fondo_monetario ? NominaPagoDetalle.fondo_monetario : 'NINGUNO' }}
				</p>
			</div>
		</div>
	</ng-template>
</p-dialog>
